.colTabs{
    background-color: #1a5796 !important;
}

.tabsItem a{
    color: rgb(190, 190, 190);
    background-color: transparent !important;
}

.tabsItem .active{
    border: none;
    border-bottom: solid green;
}

.colContent{
    background-color: #f1f5f9;

}

.rowMarginTop{
    margin-top: 3% !important;
}

.cardMargin{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background-color: white;
}

.filterListGroup{
    border-radius: 0%;
    font-size: 14px;
}

.expIcon{
    width: 10px;
}

.listGroupItem{
    padding: 0 !important;
}

.expPanel{
    border-radius: 0% !important;
}

.typeFont{
    font-weight: bold !important;
    color: rgb(100, 100, 100) !important;
}

.MuiExpansionPanelDetails-root-100 {
    padding: 0px 10px 24px !important; 
}
.MuiFormControlLabel-root-107 {
    padding: 0px !important; 
    margin: 0px !important;
}
.MuiIconButton-root-81{
    padding: 1px 10px 0 10px !important;
}

.MuiRadio-colorPrimary-116.MuiRadio-checked-114 {
    color: #3a82c9 !important;
}

.alignEnd{
    align-items: end !important;
}
.vMore{
    padding-left: 15px;
    padding-top: 15px;
    color: #3a82c9;
    font-weight: bold;
}